MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_343e0e7d485542e0ec964347ff873cd3c1d4bc4d6195fc34aa9094e7380f8a41
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_REGION=in
NEXT_PUBLIC_STRIPE_KEY=supersecret
REVALIDATE_SECRET=supersecret
NEXT_PUBLIC_SITE_NAME="Fleek Marketplace"
NEXT_PUBLIC_SITE_DESCRIPTION="Fleek Markeplace"
NEXT_PUBLIC_VENDOR_URL=http://localhost:7000
